{% extends 'base.html'%}

{%block content%}
<h2 class="p-3">Отзывы</h2>
{%if comments %}
    {% for comment in comments%}
    <div class="container-fluid col-md-10">	
		<div class="news-main">
		  <div class="card text-white bg-transparent border-0">
			<div class="card-body">
			<div class="row">
				<div class="col-sm">
				<h3 class="card-title p-1">{{comment.name}}</h2>
				</div>
              	<div class="col-sm">
				<p class="text-end">Опубликовано: {{comment.created|date:"d.m.Y"}}</p>
				</div>
			</div>
				<p class="card-text">{{comment.comment_text|linebreaks}}</p>
			  
			</div>
		  </div>
		</div>
	</div>    
    {%endfor%}
{% else %}
    <h2>Отзывы пока отсутствуют</h2>
{%endif%}

<hr>
<h2><button class="btn-secondary"><a href="{% url 'new_comment' %}">Добавить отзыв</a></button></h2>


{%endblock content%}