{% extends 'base.html'%}

{%block content%}

<div class="container-fluid col-md-10">	
    <div class="news-main">
      <div class="card text-white bg-transparent border-0">
        <div class="card-body">
        <div class="row">
            <div class="col-sm">
            <h3 class="card-title p-1">Варианты оплаты</h2>
            </div>
            <ul>
                <li>Деньгами</li>
                <li>Натурой</li>
                <li>Договоримя</li>
            </ul>          
        </div>
      </div>
    </div>
</div>



{%endblock content%}