{% extends 'base.html'%}
{%block content%}
{% load crispy_forms_tags %}


<div class="container-fluid col-md-10">	
    <div class="news-main">
      <div class="card text-white bg-transparent border-0">
        <div class="card-body">
        <div class="row">
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="ok">
            </form>
        </div>          
        </div>
      </div>
    </div>
</div>   



{%endblock content%}