{% extends 'base.html'%}

{%block content%}

<h2>Контакты</h2>

{%if contact_list %}
<div class="container-fluid col-md-10">	
    <div class="news-main">
      <div class="card text-white bg-transparent border-0">
        <div class="card-body">
        <div class="row">
            <div class="col-sm">
            </div>
            <ul style="list-style-type:circle">
            {% for object in contact_list %}
            <li>{{object.name}}
                {% if object.describe %}:
                    {{ object.describe|linebreaks }}
                {% endif %}
                {% if user.is_staff %}
                <a href="{% url 'info:contact_update' object.id %}" class="btn btn-warning">Редактировать</a>
                
                <a href="{% url 'info:contact_delete' object.id %}" class="btn btn-danger">Удалить</a>
                {% endif %}	
            </li>
            {% endfor %}
            </ul>          
        </div>
      </div>
    </div>
</div>
{% else %}
  <h2 class="bg-warning text-dark">К сожалению в базе данных отсутствует контактная информация</h2>
  <h2 class="bg-warning text-dark">Добавьте контакты!!!</h2>
{% endif %}


{%endblock content%}