{% extends 'base.html'%}

{%block content%}

<h2>Варианты оплаты</h2>

<div class="container-fluid col-md-10">	
    <div class="news-main">
      <div class="card text-white bg-transparent border-0">
        <div class="card-body">
        <div class="row">
            <div class="col-sm">
            <!-- <h3 class="card-title p-1">Контакты</h2> -->
            </div>
            <ul style="list-style-type:circle">
            {% for object in payment_list %}
            <li>{{object.name}}
                {% if object.describe %}:
                    {{ object.describe }}
                {% endif %}
                {% if user.is_staff %}
                <a href="{% url 'info:payment_update' object.id %}" class="btn btn-warning">Редактировать</a>
                <a href="{% url 'info:payment_delete' object.id %}" class="btn btn-danger">Удалить</a>
                {% endif %}	
            </li>
            {% endfor %}
            </ul>          
        </div>
      </div>
    </div>
</div>


{%endblock content%}