<footer style="height: 40px;">
    <p class="text-center" style="font-size: small; margin-bottom: 0;">Разработка и сопровождение сайта: <a href="http://www.dvbarchuk.pp.ua">Дмитрий Барчук</a></p>
    {% if user.is_authenticated %}
    <p class="text-center" style="font-size: small; margin-bottom: 0;">Пользователь: "{{user}}" | <a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
    <p class="text-center" style="font-size: small; margin-bottom: 0;"><a href="{% url 'login' %}">Login</a></p>
    {% endif %}

</footer>