{% extends 'base.html'%}

{%block content%}

<div style="background-image: url('/static/images/bg.jpg');
    height: 100vh;
    width: auto;
    background-size: cover;
    background-position: center center;">
    
    <h1 class="text-center p-4">
        Детективное агенство "АСГАРД"<br>
        050-500-50-50
    </h1>

    <img class="img-fluid mx-auto d-block" src="static/icons/logo.png" style="width: 300px;">
    <br>
    <br>
    <p class="p-2 bg-dark">
        Детективное агенство "АСГАРД" успешно работает с 2018 года. <br>
        Мы укомплектованы лучшими сыщиками, прошедшими Крым и Рим и медные трубы.<br>
        Мы Можем Многое, но лучше посмотрите <a href="{% url 'service_list' %}"><strong style="color: red;">список наших услуг</strong></a><br>
        
    </p>
    
    {% if user.is_staff %}
    <p class="p-2 bg-dark">
        Тут будут админские штучки всякие        
    </p>        
    {% endif %}
    

</div>
{%endblock content%}