{% load static %}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark" style="background-color: #172531; height: 80px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{% static 'icons/logo.svg'%}" alt="..." height="60px">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'service_list' %}">Услуги</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'info:payments' %}">Оплата</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'news:news_list' %}">Новости</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'info:contacts' %}">Контакты</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'comments_view' %}">Отзывы</a>
        </li>
      </ul>
      
      <div class="d-flex ml-auto">
        <ul class="navbar-nav me-auto my-1 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          {% if user.is_staff %}
          <ul class="navbar-nav">
            <li class="nav-item dropdown" style="background-color: #172531">
              <a class="nav-link dropdown-toggle" href="#"  role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:orange">
                ADMIN
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
                <li><a class="dropdown-item" href="{% url 'news:news_create' %}">Добавить новость</a></li>
                <li><a class="dropdown-item" href="{% url 'info:payment_create' %}">Добавить вариант оплаты</a></li>
                <li><a class="dropdown-item" href="{% url 'info:contact_create' %}">Добавить контактную инфу</a></li>
              </ul>
          {% endif %} 
          <li class="nav-item">
            <a class="nav-link active" href="#">
            <img src="{% static 'icons/ua.svg' %}" width="25px">
            Українська</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
            <img src="{% static 'icons/ru.svg' %}" width="25px">
            Русский</a>
          </li>        
        </ul>
      </div>

    </div>
  </div>
</nav>